<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Nuevo Curso</title></head>
<body>
<h1>Nuevo Curso</h1>
<form th:action="@{/cursos/guardar}" th:object="${curso}" method="post">
    <div>
        <label>Nombre:</label>
        <input type="text" th:field="*{nombre}" />
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
    </div>
    <div>
        <label>Créditos:</label>
        <input type="number" th:field="*{creditos}" min="0" />
    </div>
    <button type="submit">Guardar</button>
    <a th:href="@{/cursos}">Cancelar</a>
</form>
</body>
</html>